@{
    ViewBag.Title = "Reset password confirmation";
}

<style>
    .texto {
        font-size: 14px;
        width: 100%;
    }



    .contenedor {
        width: 100%;
        float: left;
        margin-top: 20px;
        margin-bottom: 30px;
    }
</style>

<div class="contenedor">

    <h1 class="texto " style="font-weight:bold; margin-bottom:10px; text-align: center;">@ViewBag.Title.</h1>
    <h4 class="texto" style="text-align: center;">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { @id = "loginLink", @class="texto" })
    </h4>

</div>

