<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="AffidavitModelsConnection" connectionString="data source=NEWSOFT07;initial catalog=NS_dbAffidavitNew;Integrated Security=True;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!--string conexión pruebas -->
    <add name="AffidavitModelsConnection" connectionString="data source=192.168.1.118;initial catalog=NS_dbAffidavitNew;persist security info=True;user id=NS_SQLMDS_PRUEBAS;password=News0ft;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <!--string conexión producción -->
    <!--<add name="AffidavitModelsConnection" connectionString="data source=162.248.54.13\AF;initial catalog=NS_dbAffidavitNew;persist security info=True;user id=sa;password=Ech3z342;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="AffidavitModelsConnection" connectionString="data source=EGSVRDB-AF;initial catalog=NS_dbAffidavitNew;persist security info=True;user id=NS_SQLMDS;password=News0ft;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="SMTPServer" value="smtp.office365.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUser" value="somsight@e-chez.com" />
    <add key="SMTPSecure" value="Fuga5031" />
    <add key="SMTPSSL" value="true" />
  </appSettings>
</configuration>