<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SMTPServer" value="smtp.office365.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUser" value="somsigth@e-chez.com" />
    <add key="SMTPSecure" value="Fuga5031" />
    <add key="SMTPSSL" value="true" />
    <!--Para pruebas-->
    <!--<add key="SAMLiveGetToken" value="http://192.168.1.118:8091/Auth/GetToken" />
    <add key="SAMLiveUpdateUser" value="http://192.168.1.118:8091/User/Modify" />
    <add key="SAMLiveUrlTokenAuthentication" value="http://192.168.1.118:8091/User/AuthToken?Username={0}&amp;Token={1}" />-->
    <add key="SAMLiveApplicationKey" value="61ff8667605492a5ffb02d097ee0134f" />
    <add key="SAMLiveClientSecret" value="bed5f7715f8435236109900339c629e5" />
    <!--Para produccion-->
    <add key="SAMLiveGetToken" value="https://www.microsoft.com/MDS/measuremyplatform/Auth/GetToken" />
    <add key="SAMLiveUpdateUser" value="https://www.microsoft.com/MDS/measuremyplatform/User/Modify" />
    <add key="SAMLiveUrlTokenAuthentication" value="https://www.microsoft.com/MDS/measuremyplatform/User/AuthToken?Username={0}&amp;Token={1}" />
    <!--<add key="SAMLiveApplicationKey" value="61ff8667605492a5ffb02d097ee0134f" />
    <add key="SAMLiveClientSecret" value="bed5f7715f8435236109900339c629e5" />-->
  </appSettings>
  <connectionStrings>
    <!--Jorge-->
    <!--<add name="SharedContext" connectionString="data source=LENOVO-PC\MSSQLSERVER2014;initial catalog=NS_dbSOMSightShared;persist security info=True;user id=sa;password=Sql2014;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    
    <!--Richard-->
    <!--<add name="SharedContext" connectionString="data source=LENOVO\SQLEXPRESSS;initial catalog=NS_dbSOMSightShared;persist security info=True;user id=sa;password=Sql2014;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    
    <!--VPN-->
    <!--<add name="SharedContext" connectionString="data source=172.168.1.40;initial catalog=NS_dbSOMSightShared;persist security info=True;user id=NS_SQLSOMSight;password=News0ft;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    
    <!--Pruebas-->
    <add name="SharedContext" connectionString="data source=192.168.1.118;initial catalog=NS_dbSOMSightShared;persist security info=True;user id=newsoft;password=N3wS0ft231*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <!--<service name="WCFSharedServices.Service1">
        <endpoint address="/Service1" binding="wsHttpBinding" contract="WCFSharedServices.IService1" name="IService1">
          <identity >
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="/Service2" binding="wsHttpBinding" contract="WCFSharedServices.IService2" name="IService2">
          <identity >
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>-->
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
