@using Affidavit.Utils
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
        <div id="footer" class="fijo">
            @Html.Partial("_FooterInsidePartial")
        </div>
    </body>
</html>


