@using Affidavit.Utils
<ul class="nav navbar-nav">
    <li class="active">@Html.ActionLink(@TranslatorHelper.TranslateTextByIdentifier("Old_ManageLandingAdmin"), "ManageLanding", "ManagePlatform")</li>
</ul>

