<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="AffidavitModelsConnection" connectionString="metadata=res://*/DbAffidavit.DB_Affidavit.csdl|res://*/DbAffidavit.DB_Affidavit.ssdl|res://*/DbAffidavit.DB_Affidavit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.118;initial catalog=NS_dbAffidavitNew;persist security info=True;user id=NS_SQLMDS_PRUEBAS;password=News0ft;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="AffidavitModelsConnection" connectionString="metadata=res://*/DbAffidavit.DB_Affidavit.csdl|res://*/DbAffidavit.DB_Affidavit.ssdl|res://*/DbAffidavit.DB_Affidavit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO-PC\MSSQLSERVER2014;initial catalog=NS_dbAffidavitNewRichard;persist security info=True;user id=sa;password=Sql2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>