<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />  
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <remove name="AffidavitSPConnection" />
    <remove name="AffidavitModelsConnection" />
    <remove name="ErrorLog" />

    <!--Local Richard-->
    <!--<add name="AffidavitSPConnection" connectionString="metadata=res://*/DbAffidavit.DB_Affidavit.csdl|res://*/DbAffidavit.DB_Affidavit.ssdl|res://*/DbAffidavit.DB_Affidavit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO\SQLEXPRESSS;initial catalog=NS_dbAffidavitNew;user id=sa;password=Sql2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AffidavitModelsConnection" connectionString="data source=LENOVO\SQLEXPRESSS;initial catalog=NS_dbAffidavitNew;persist security info=True;user id=sa;password=Sql2014;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ErrorLog" connectionString="data source=LENOVO\SQLEXPRESSS;initial catalog=MDSErrorLog;persist security info=True;user id=sa;password=Sql2014;" providerName="System.Data.SqlClient" />-->

    <!--Local Felipe-->
    <!--<add name="AffidavitSPConnection" connectionString="metadata=res://*/DbAffidavit.DB_Affidavit.csdl|res://*/DbAffidavit.DB_Affidavit.ssdl|res://*/DbAffidavit.DB_Affidavit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEWSOFT07;initial catalog=NS_dbAffidavitNew;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AffidavitModelsConnection" connectionString="data source=NEWSOFT07;initial catalog=NS_dbAffidavitNew;Integrated Security=True;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!--Local Jorge-->
    <!--<add name="AffidavitSPConnection" connectionString="metadata=res://*/DbAffidavit.DB_Affidavit.csdl|res://*/DbAffidavit.DB_Affidavit.ssdl|res://*/DbAffidavit.DB_Affidavit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO-PC\MSSQLSERVER2014;initial catalog=NS_dbAffidavitNew;user id=sa;password=Sql2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AffidavitModelsConnection" connectionString="data source=LENOVO-PC\MSSQLSERVER2014;initial catalog=NS_dbAffidavitNew;persist security info=True;user id=sa;password=Sql2014;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ErrorLog" connectionString="data source=LENOVO-PC\MSSQLSERVER2014;initial catalog=MDSErrorLog;persist security info=True;user id=sa;password=Sql2014;" providerName="System.Data.SqlClient" />-->

    <!--Produccion Amazon-->
    <!--<add name="AffidavitSPConnection" connectionString="metadata=res://*/DbAffidavit.DB_Affidavit.csdl|res://*/DbAffidavit.DB_Affidavit.ssdl|res://*/DbAffidavit.DB_Affidavit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EGSVRDB-AF;initial catalog=NS_dbAffidavitNew;user id=NS_SQLMDS;password=News0ft;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AffidavitModelsConnection" connectionString="data source=EGSVRDB-AF;initial catalog=NS_dbAffidavitNew;persist security info=True;user id=NS_SQLMDS;password=News0ft;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->


    <!--Produccion Amazon VPN-->
   <add name="AffidavitSPConnection" connectionString="metadata=res://*/dbaffidavit.db_affidavit.csdl|res://*/dbaffidavit.db_affidavit.ssdl|res://*/dbaffidavit.db_affidavit.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=172.168.1.41;initial catalog=NS_dbAffidavitNew;user id=NS_SQLMDS;password=News0ft;multipleactiveresultsets=true;app=entityframework&quot;" providerName="system.data.entityclient" />
   <add name="AffidavitModelsConnection" connectionString="data source=172.168.1.41;initial catalog=NS_dbAffidavitNew;persist security info=true;user id=NS_SQLMDS;password=News0ft;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
   <add name="ErrorLog" connectionString="data source=172.168.1.41;initial catalog=MDSErrorLog;persist security info=true;user id=NS_SQLMDS;password=News0ft;" providerName="system.data.sqlclient" />

    <!--Pruebas-->
    <!--<add name="AffidavitSPConnection" connectionString="metadata=res://*/DbAffidavit.DB_Affidavit.csdl|res://*/DbAffidavit.DB_Affidavit.ssdl|res://*/DbAffidavit.DB_Affidavit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.118;initial catalog=NS_dbAffidavitNewProduccion;user id=newsoft;password=N3wS0ft231*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AffidavitModelsConnection" connectionString="data source=192.168.1.118;initial catalog=NS_dbAffidavitNewProduccion;persist security info=True;user id=newsoft;password=N3wS0ft231*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ErrorLog" connectionString="data source=192.168.1.118;initial catalog=MDSErrorLog;persist security info=True;user id=newsoft;password=N3wS0ft231*;" providerName="System.Data.SqlClient" />-->

    <!--NOOO-->
    <!--<add name="AffidavitSPConnection" connectionString="metadata=res://*/DbAffidavit.DB_Affidavit.csdl|res://*/DbAffidavit.DB_Affidavit.ssdl|res://*/DbAffidavit.DB_Affidavit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLSERVER;initial catalog=NS_dbAffidavitNewRichard;user id=NS_SQLMDS_PRUEBAS;password=News0ft;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AffidavitModelsConnection" connectionString="data source=SQLSERVER;initial catalog=NS_dbAffidavitNew;persist security info=True;user id=NS_SQLMDS_PRUEBAS;password=News0ft;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!--Pruebas remoto-->
    <!--<add name="AffidavitSPConnection" connectionString="metadata=res://*/DbAffidavit.DB_Affidavit.csdl|res://*/DbAffidavit.DB_Affidavit.ssdl|res://*/DbAffidavit.DB_Affidavit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.118;initial catalog=NS_dbAffidavitNew;persist security info=True;user id=NS_SQLMDS_PRUEBAS;password=News0ft;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AffidavitModelsConnection" connectionString="data source=192.168.1.118;initial catalog=NS_dbAffidavitNew;persist security info=True;user id=NS_SQLMDS_PRUEBAS;password=News0ft;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

    <!--Dynamics 365 Connection string-->
    <add name="MyCRMServer" connectionString="AuthType=Office365;Username=new.soft@e-chez.com; Password=Yosu4082;Url=https://echezinc.crm.dynamics.com" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="500000" />
    <add key="SMTPServer" value="smtp.office365.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUser" value="somsight@e-chez.com" />
    <add key="SMTPSecure" value="Fuga5031" />
    <add key="SMTPSSL" value="true" />
    <add key="SOMSightPath" value="https://www.somsight.com/" />
    <add key="MDSPath" value="http://localhost:21340/?pLeadID=" />
    <add key="MicrosoftLogo" value="https://mds.e-chez.com/MDS/Content/Images/logo.png" />
    <add key="BasePath" value="http://localhost:1478" />
    <add key="SAMLive_SmallPlan_GroupID" value="10" />
    <add key="SAMLive_DefaultDashboardId" value="1" />
    <add key="DomainCookieComplaince" value="microsoft.com/MDS/mdspruebas" />
    <add key="TestCookies" value="true" />
    <add key="AllowedCountriesToSeeV3" value="USA,Canada,Mexico,Colombia" />
    <add key="GAnalitycsID" value="UA-114667536-1" />
    
    <!--sharepoint link test-->
    <!--<add key="SharePointUrl" value="https://echezinc.sharepoint.com/sites/crm/it/it_test/testing/tn/" />-->
    <!--sharepoint link prod-->
    <add key="SharePointUrl" value="https://echezinc.sharepoint.com/sites/crm/proofs/" />
    <add key="SharePointUser" value="new.soft@e-chez.com" />
    <add key="SharePointPassword" value="Yosu4082" />
    <add key="SharePointFolder" value="MDS_Licensing_Tests" />
    
    <!--SAM360-->
    <add  key="SAM360On" value="d3c7eaa1-2e92-e611-80f7-5065f38b020,C3C7EAA1-2E92-E611-80F7-5065F38B0201,C5C7EAA1-2E92-E611-80F7-5065F38B0201,C9C7EAA1-2E92-E611-80F7-5065F38B0201"/>
    <add  key="SAM360ApiUrl" value="https://api.sam360.com"/>
    <add  key="SAM360AdminUser" value="newsoft@somsight.com"/>
    <add  key="SAM360AdminPassword" value="Q1w2e3r4"/>
    <add  key="SAM360UserSharedKey" value="ya&amp;xrY3trqv#J!XYg2q*8W&amp;YpuMYRKPlWQRyih8d7yDHo^GZmby4YbVjScG%yR6Ze4u^fAh#Dv6r@9NbnV^VyVZ7jJtwIOqpvok*"/>
    <add  key="SAM360PasswordSharedKey" value="CtmtgePl#8VXN$lsJ3sa#OzK7b#VJ3Plfm$@fCrqydyQQz1MiMpQpQm29HlBH^DmS7V1eJeOB6eUtpKE6Okhp$eDRj@RV%$#$sm#"/>
    <add  key="SAM360UrlAuthentication" value="https://app.sam360.com/SOMSight.aspx?P1={0}&amp;P2={1}" />
	  
	  <!--Personalización-->
	  
  </appSettings>

  <system.web>
    
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" />
    <sessionState mode="InProc" timeout="30" />
    <globalization enableClientBasedCulture="true" culture="auto" uiCulture="auto" />
    <!--<customErrors mode="On" defaultRedirect="~/Error">
      <error redirect="~/Error/NotFound" statusCode="400"/>
    </customErrors>-->
    <customErrors mode="Off"/>

    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />



      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.28.3.860" newVersion="2.28.3.860" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.28.3.860" newVersion="2.28.3.860" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAssessmentServices" 
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647" />
        <binding maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647" 
                 name="BasicHttpBinding_ITranslatorServices" />
        <binding name="BasicHttpBinding_IMeasureMyPlataformServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:12312/AssessmentServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssessmentServices" contract="AssessmentExternalService.IAssessmentServices" name="BasicHttpBinding_IAssessmentServices" />
      <endpoint address="http://localhost:12312/TranslatorServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITranslatorServices" contract="TranslatorExternalService.ITranslatorServices" name="BasicHttpBinding_ITranslatorServices" />
      <endpoint address="http://localhost:12312/MeasureMyPlataformServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMeasureMyPlataformServices" contract="MeasureMyPlataformServices.IMeasureMyPlataformServices" name="BasicHttpBinding_IMeasureMyPlataformServices" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>

    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ErrorLog" applicationName="MDS" />

    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>

  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>